

body {
    background: url('../images/sky.JPG'); 
    font-family: 'Oswald', sans-serif;
}

.hero {
    color: rgb(63, 46, 46);
    font-size: large;
    font-style:unset;
}
.section-title {
    padding-bottom: 15px;
    font-size: 30px;
}

.search {
    margin: 10px;
}

ul {
    list-style-type: none;
}

.forecast-header {
    margin: 10px;
}

#forecast-cards {
    justify-content: space-around;
}

.card-content {
    margin: 30px;
}

.current-weather, .weather-input {
    margin: 5px;
}

.weather-container {
    margin: 100px auto;
    background-color:bisque;
    padding: 20px 50px;
    border-radius: 10px;
    opacity: 80%;
}

.card {
    background-color: #0f4673;
}

.btn:hover{
    background-color:darkblue;
    color: whitesmoke;
}